<%- include("header") -%>


    <h2>This is the about page</h2>


    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor suscipit iusto eligendi iste est quia nostrum
        necessitatibus vero, reprehenderit facere maiores. Omnis, placeat sint! Consectetur veniam ipsa cum ducimus
        magnam.
    </p>

    <%- include("footer") -%>